<div class="row  start-lg container-fluid">
        <div class="col-lg-12">
            <div class="footer_box">
                    <a href="" class="footer_box__link">Помощь</a>
                    <a href="" class="footer_box__link" >Обратная связь</a>
                    <a href="" class="footer_box__link">Разработчикам</a>
                    <a href="" class="footer_box__link">Условия использования</a>
                    <a href="" class="footer_box__link footer_box__link_copy">© 2001–2017  ООО «Яндекс»</a>
            
                </div>
            </div>
    </div>