<header class="header" id="header-blur">
    <div class="row start-lg container-fluid">
        <div class="col-lg-2">
            <img src="img/Яндекс Дом@2x.png" class="header__logo">
        </div>
        <div class="col-lg-4 header__ul">
            <a href="" class="header__link header__link_active">Сводка</a>

            <a href="" class="header__link" >Устройства</a>

            <a href="" class="header__link">Сценарии</a>

        </div>
</header>